[package]
name = "zk-proof-of-evm-exploit"
version = "0.1.0"
edition = "2021"

[dependencies]
# anvil
anvil = { git = "https://github.com/foundry-rs/foundry.git", package = "anvil",  features = [ "default" ] }
anvil-core = { git = "https://github.com/foundry-rs/foundry.git", package = "anvil-core",  features = [ "default" ] }
ethers = { git = "https://github.com/gakonst/ethers-rs", features = ["ws"] }

# zkevm
bus-mapping = { path = "../zkevm-circuits/bus-mapping", features = [ "test" ] }
eth-types = { path = "../zkevm-circuits/eth-types"}
ethers-core = "0.17.0"
zkevm-circuits = { path = "../zkevm-circuits/zkevm-circuits", features = [ "test" ] }
halo2_proofs = { git = "https://github.com/privacy-scaling-explorations/halo2.git", tag = "v2023_02_02" } 
itertools = "0.10"

# misc
tokio = { version = "1.13", features = ["macros"] }
futures = { version = "0.3.*" }
dotenv = "0.15.0"
bytes = "1.1.0"